Требования к проекту по “Применению программных комплексов к решению задач”.

Тема: Генетические алгоритмы для решения системы алгебраических уравнений.

Автор: Куликов Л.А.

Преподаватель: Федотов В.А.

Требования:

1) Язык программирования - С++;

2) Программа решает систему линейных уравнений типа Ax=b, причем А - матрица dim*dim;

3) Размерность dim и матрицу A пользователь задает самостоятельно в диалоговом окне программы или через файл;

4) Область определения X определяется в исходном коде;

5) Коэффициент мутации(с какой вероятностью геном особи изменится случайным образом) определяется в исходном коде;

6) Мутация происходит со всеми особями после скрещивания;

7) Для упрощения программы, после операции скрещивания и мутации “новорожденные особи” занимают места “предков”(предки исчезают и более в программе не учитываются);

8) Скрещивание происходит в соответствии с функцией выживания;

9) Функция выживания определяет вероятность каждой особи вступить в скрещивание для рождения потомков;

10) Каждые 2 особи дают 2 потомков;

11) Для удобности n кратно 2;

12) Консольный "User-friendly" интерфейс;

13) Решение всегда определяется с некоторой допустимой погрешностью, которая определяется в исходном коде;

14) Мутация случайным образом меняет все значения x в области определения X;

15) В случае полного исчерпания поколений, выдается наиболее близкое решение;